<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1><%= title%></h1>
    <ul>
      <% messages.forEach((message) => { %>
      <!---->
      <%- include('messages/message', {message: message}) %>
      <!---->
      <% }); %>
    </ul>
  </body>
</html>
