<li>
  <div>User: <%= message.user %></div>
  <div>Message: <%= message.text %></div>
  <a href="/messages/<%= message.id %>"
    ><button
      id="details-btn"
      data-msg-id="<%= message.id %>"
    >
      Details
    </button></a
  >
</li>
<br />
