<div class="message-desc">
  <div>User: <%= message.user %></div>
  <div>Message: <%= message.text %></div>
  <div>Added: <%= message.added %></div>
  <a href="/"><button>Back to main page</button></a>
</div>
